<h1>API</h1>

<p>Arduino принимает два числа: первое 0 или 1, потушить или зажечь соответственно, а после этого второе число - идекс лампочки от 0 до 9. И после каждого введенного числа ардуина выводит в сериал полученные данные и своё состояние(быть может при инициализации потребуется однозначно определить, принимается номер лампы или зажечь/погасить)</p>

<p>Подробная таблица:
Первое число| Второе число | Функция
&mdash;|&mdash;|&mdash;
0 | 0 | Выключить светодиод с индексом 0
0 | 1 | Выключить светодиод с индексом 1
0 | 2 | Выключить светодиод с индексом 2
&hellip; | &hellip; | &hellip;
0 | 9 | Выключить светодиод с индексом 9
1 | 0 | Включить светодиод с индексом 0
1 | 1 | Включить светодиод с индексом 1
1 | 2 | Включить светодиод с индексом 2
&hellip; | &hellip; | &hellip;
0 | 9 | Включить светодиод с индексом 9</p>

<h2>Примеры взаимодействия с arduinoaaaaaaaaaaaa</h2>

<h3>1.</h3>

<p>Вводим 0:</p>

<pre><code>Changing state to accept
</code></pre>

<p>Ещё раз вводим 0:</p>

<pre><code>Applied 0 to led 0
</code></pre>

<p>В результате нулевой светодиод не горит</p>

<h3>2.</h3>

<p>Вводим 1:</p>

<pre><code>Changing state to accept
</code></pre>

<p>Затем вводим 3:</p>

<pre><code>Applied 1 to led 3
</code></pre>

<p>Светодиод 3 загорается</p>
